body {
	background: #FCF5E3 url(../images/bg.jpg) repeat;
}

td, th {
	padding: 0
}

body, html {
	margin: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	background: #ededed;
}

#content {
	padding-bottom: 100px; /* Height of the footer element */
}

#footer {
	background: #ffab62;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

html {
	color: #3b453d;
	font-size: 1em;
	line-height: 1.4rem;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.text-align-center {
	text-align: center;
}

b, strong {
	font-weight: 700;
}

h1 {
	font-size: 2em;
}

small {
	font-size: 80%;
}

sub {
	bottom: -.25em;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.4rem;
}

@font-face {
	font-family: "Futura W01 Bold";
	src: url(../fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?#iefix);
	src: url(../fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?#iefix)
		format("eot"), url(../fonts/2a65cbfc-5071-4b4d-bfc2-e052bb091ee2.woff)
		format("woff"), url(../fonts/812f781d-aa66-47a1-b6a2-7941effc1527.ttf)
		format("truetype"),
		url(../fonts/2a371030-ff67-40ac-8307-082c1fccf151.svg#2a371030-ff67-40ac-8307-082c1fccf151)
		format("svg")
}

@font-face {
	font-family: "Museo Slab W01 700";
	src: url(../fonts/59736019-b384-44ba-b36e-3b03dcdc8e6c.eot?#iefix);
	src: url(../fonts/59736019-b384-44ba-b36e-3b03dcdc8e6c.eot?#iefix)
		format("eot"), url(../fonts/2ac411c9-defd-4f5a-90b0-7179cafd27f4.woff)
		format("woff"), url(../fonts/0c52b397-59d0-4df4-aa7c-06ac915a9f66.ttf)
		format("truetype"),
		url(../fonts/dcaa3c19-252a-407d-945c-4b770dd32417.svg#dcaa3c19-252a-407d-945c-4b770dd32417)
		format("svg")
}

@font-face {
	font-family: "Museo Slab W01 300";
	src: url(../fonts/39a8c847-6d65-44ec-92e6-46e2aa8db834.eot?#iefix);
	src: url(../fonts/39a8c847-6d65-44ec-92e6-46e2aa8db834.eot?#iefix)
		format("eot"), url(../fonts/4548ac88-af2c-4b63-ac2b-94e9ef6cd1b9.woff)
		format("woff"), url(../fonts/380327b2-8e54-40b1-a569-eb17e46f7e17.ttf)
		format("truetype"),
		url(../fonts/dedfb9ca-341f-404d-b76e-d781f9ee375f.svg#dedfb9ca-341f-404d-b76e-d781f9ee375f)
		format("svg")
}

@font-face {
	font-family: "Museo Slab W01 100";
	src: url(../fonts/01ab709f-22cf-4831-b24a-8cf4eb852687.eot?#iefix);
	src: url(../fonts/01ab709f-22cf-4831-b24a-8cf4eb852687.eot?#iefix)
		format("eot"), url(../fonts/cacc0862-f146-4746-92b1-60e6114a66c4.woff)
		format("woff"), url(../fonts/54006f54-b61e-4103-abf8-b1d0294a2a9c.ttf)
		format("truetype"),
		url(../fonts/e5841f2e-b306-4583-bfc3-a0e06742fedd.svg#e5841f2e-b306-4583-bfc3-a0e06742fedd)
		format("svg")
}

.header--page {
	line-height: 50px;
	/*background: #c93312 url(../images/texture.png) repeat;*/
	background: none repeat scroll 0 0 #404d5b;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	width: 100%;
}

.type--lrg {
	font-size: 2em;
	color: #FCF5E3;
	font-family: "Futura W01 Bold";
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.footer__meta {
	padding: 11.2px 22.4px;
	padding: .7rem 1.4rem;
	margin: 0;
	background: #232a25;
}

.footer--page {
	background: #3b453d;
	color: #9fada2;
	box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1);
	font-family: "Museo Slab W01 300";
	font-size: 0.8em;
	line-height: 1.2em;
}

.navbar-nav>li>a.headerLink {
	color: #FCF5E3;
	font-size: 14px;
	font-family: "Futura W01 Bold";
	font-weight: 400;
	letter-spacing: 0.04em;
	text-decoration: none;
}

a:hover.headerLink {
	color: #000066;
	background: #FCF5E3;
	font-size: 14px;
	font-family: "Futura W01 Bold";
	font-weight: 400;
	letter-spacing: 0.04em;
	text-decoration: none;
}

.splitter {
	padding-left: 5px;
	padding-right: 5px;
	color: #FCF5E3;
	font-size: 14px;
	font-family: "Futura W01 Bold";
}

a {
	
}

a:active, a:hover {
	
}

.mainButton {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headerIcon {
	height: 35px;
	width: 42px;
	vertical-align: middle;
}

div[ng-app] {
	margin: 10px;
}

.table {
	width: 100%
}

form[editable-form]>div {
	margin: 10px 0;
}

#wrapper {
	font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	text-align: left;
	font-size: 15px;
	font-weight: 400;
}

input {
	outline: medium none;
}

@font-face {
	font-family: 'FontomasCustomRegular';
	src: url('fonts/fontomas-webfont.eot');
	src: url('fonts/fontomas-webfont.eot?#iefix')
		format('embedded-opentype'), url('fonts/fontomas-webfont.woff')
		format('woff'), url('fonts/fontomas-webfont.ttf') format('truetype'),
		url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:after {
	color: rgb(106, 159, 171);
	content: attr(data-icon);
	font-family: 'FontomasCustomRegular';
	left: 10px;
	position: absolute;
	top: 43px;
	width: 30px;
}

#wrapper label {
	color: rgb(64, 92, 96);
	position: relative;
}

#wrapper input:not ([type="checkbox"] ) {
	border: 1px solid rgb(178, 178, 178);
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
	margin-top: 4px;
	transition: all 0.2s linear 0s;
}

.gridInputPersonalData {
	width: 50%;
	padding: 10px 5px 10px 32px;
}

.gridInputTrainingData {
	width: 180px;
	padding: 10px 5px 10px 5px;
	align: center;
}

.gatherSubmit {
	padding: 200px 200px;
}

.formStyle input ([type="text"] ) {
	width: 405px;
	height: 17px;
}

.ss-style-dots:before {
	background: none repeat scroll 0 0 #3b453d;
	border-radius: 50%;
	bottom: 20px;
	box-shadow: 30px 0 #3b453d, -30px 0 #3b453d;
	height: 14px;
	left: 50%;
	transform: translateX(-50%);
	width: 14px;
}

.ss-style-dots {
	padding-bottom: 80px;
}

section:before, section:after {
	content: "";
	pointer-events: none;
	position: absolute;
}

section {
	padding-bottom: 12%;
	position: relative;
}

.btn-success {
	margin-right: 200px;
}

.dateCustomStyleLong {
	width: 100px;
}

.dateCustomStyleShort {
	width: 60px;
}

.form-date .form-group {
	float: left;
	width: 50px;
	margin-right: 20px;
	margin-bottom: 0;
	clear: none;
}

.spacerDiv {
	padding-top: 50px;
}

.mainPageTitle {
	font-family: 'Raleway', Arial, sans-serif;
	padding: 20px 0;
	text-indent: 0;
	color: #404d5b;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 0.04em;
	text-align: left;
	vertical-align: middle;
}

.mainPageTitleCentered {
	font-family: 'Raleway', Arial, sans-serif;
	padding: 20px 0;
	text-indent: 0;
	color: #404d5b;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 0.04em;
	text-align: center;
	vertical-align: middle;
}

.selectwidthauto {
	width: auto !important;
}

input[type="text"].w-2, input[type="date"].w-2, input[type="datetime"].w-2,
	input[type="email"].w-2, input[type="number"].w-2, select.w-2 {
	width: 12%;
}

input[type="text"].w-3, input[type="date"].w-3, input[type="datetime"].w-3,
	input[type="email"].w-3, input[type="number"].w-3, select.w-3 {
	width: 25%;
}

input[type="text"].w-4, input[type="date"].w-4, input[type="datetime"].w-4,
	input[type="email"].w-4, input[type="number"].w-4, select.w-4 {
	width: 33.33333333%;
}

input[type="text"].w-5, input[type="date"].w-5, input[type="datetime"].w-5,
	input[type="email"].w-5, input[type="number"].w-5, select.w-5 {
	width: 41.66666667%;
}

.form-inline input[type="text"].w-5, input[type="date"].w-5, input[type="datetime"].w-5,
	input[type="email"].w-5, input[type="number"].w-5, select.w-5 {
	
}

.form-horizontal .control-label{
  /* text-align:right; */
  text-align:left;
}

.control-group {
	padding-bottom: 25px;
}

textarea.custom-textbox {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 650px;
	height: 200px; 
}

#over
{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
}
.centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.centered
{
    display: inline-block;
    vertical-align: top;
}

img.errorImg {
	width: 650px;
	height: auto;
}

.excelLink {
	margin-top: 25px;
}

.validationMsg {
	color: red;
}

.navbar {
		line-height: 50px;
	/*background: #c93312 url(../images/texture.png) repeat;*/
	background: none repeat scroll 0 0 #404d5b;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	width: 100%;
}